.react_quill{
  max-width: 70%;
}

.article__input{
  min-width: 400px;
  border:0;
}

.article__input:focus{
  outline: none;
}

.createArticle{
  min-height: 90vh;
}

@media only screen and (max-width: 700px) {
  .createArticle {
    min-height: 110vh;

  }
  #create__article-form{
    margin-left: 10%;
  }
  .save__article{
    margin-left: 15%;
  }
}