
.auth-container{
  color:#ffffff;
  padding: 40% 20%;

}

.reg-container{
  color:#ffffff;
  padding: 30% 20%;
}


.auth-aside{
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
  background: #4c59ed;
}

.auth-img{
  margin-left: 25%;
  margin-top: 20%;
  max-width: 70%;
  max-height: 70%;
  height: auto;
}

.sign-in{
  color: white;
}

.sign-in:hover{
  color: white;
}
